<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Evonia Launcher</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Security-Policy" content="script-src 'self';" />
        <link href="assets/css/loading.css" rel="stylesheet">
    </head>
    <body>
        <div id="loadingWrapper">
            <h1 id="moonsworth">Evonia</h1>
            <div class="svgWrapper">
                <div id="Text_LC" style="vertical-align: middle;">
                    <img class="center2" src="assets/images/loading.png">
                    <h1>Lancement de Evonia Launcher</h1>
                    <h3>Cela peut prendre un moment.</h3>
                </div>
            </div>
        </div>
    </body>
</html>